<!DOCTYPE html>
<html>
<head>

    <title>My Applications</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- Navbar -->
    <div class="navbar">

        <div class="logo">
            My Applications
        </div>

        <div class="menu">

            <a href="/dashboard">
                Dashboard
            </a>

            <a href="/logout">
                Logout
            </a>

        </div>

    </div>

    <!-- Main Container -->
    <div class="container">

        <h1>Applied Companies</h1>

        {% for app in applications %}

        <div class="card">

            <h2>{{ app[2] }}</h2>

            <p>
                <b>Status:</b> {{ app[3] }}
            </p>

        </div>

        {% endfor %}

    </div>

</body>
</html>