<!DOCTYPE html>
<html>
<head>
    <title>Student Placement Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">

        <div class="logo">
            Student Placement Management System
        </div>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>

    </div>

    <!-- Main Content -->
    <div class="container">

        <h1>Welcome to Placement Portal</h1>

        <p>
            Students can apply for companies and track placement status.
        </p>

    </div>

</body>
</html>