<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">

        <div class="logo">
            Student Placement Management System
        </div>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>

    </div>

    <!-- Login Form -->
    <div class="form-container">

        <h2>Student Login</h2>

        <form method="POST">

            <input type="email"
                   name="email"
                   placeholder="Enter Email"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter Password"
                   required>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</body>
</html>