<!DOCTYPE html>
<html>
<head>

    <title>Applications</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="navbar">

        <div class="logo">
            Student Applications
        </div>

        <div class="menu">

            <a href="/admin-dashboard">
                Dashboard
            </a>

            <a href="/logout">
                Logout
            </a>

        </div>

    </div>

    <div class="container">

        <h1>All Applications</h1>

        {% for app in applications %}

        <div class="card">

            <h2>{{ app[1] }}</h2>

            <p>
                <b>Company:</b> {{ app[2] }}
            </p>

            <p>
                <b>Status:</b> {{ app[3] }}
            </p>

            <a href="/update-status/{{ app[0] }}/Selected">

                <button class="apply-btn">
                    Select
                </button>

            </a>

            <a href="/update-status/{{ app[0] }}/Rejected">

                <button class="reject-btn">
                    Reject
                </button>

            </a>

        </div>

        {% endfor %}

    </div>

</body>
</html>